<h3>The firm provides an array of services, including:</h3>
<h4>Corporate Laws & Secretarial Matters</h4>
<ul>
	<li>Certification Services</li>
	<li>Due Diligence Reports</li>
	<li>Secretarial Audits</li>
	<li>Maintenance of Minutes and other Secretarial/Statutory Records</li>
	<li>Convening and conducting meetings of Board of Directors, Sharehulders etc.</li>
	<li>Arranging various approvals from Government Authorities</li>
	<li>Company Incorporation Services</li>
	<li>Change of Name, Registered office & Objects Clause etc.</li>
	<li>Matters pertaining to Oppression & Mismanagement</li>
	<li>Preparation of search reports.</li>
	<li>Advisory services on matters pertaining to Corporate Disputes.</li>
	<li>Partnership firm Registration</li>
	<li>Easy Exist Scheme</li>
</ul>
<h4>Corporate Restructuring</h4>
<ul>
	<li>Merger & Amalgamation
	<li>Demerger</li>
	<li>Acquisition and Buy outs</li>
	<li>Restructuring of Capital</li>
	<li>Dissulution & Winding up of Companies</li>
	<li>Conversion of Company from Private to Public and vice versa</li>
	<li>Corporatization of Business</li>
	<li>Change of Management</li>
	<li>Slump Sale</li>
</ul>
<h4>Legal Services</h4>
Appearance before the Company Law Board for fullowing matters:
<ul>
	<li>Shifting of registered office</li>
	<li>Compounding of offense</li>
	<li>Condonation of delay</li>
	<li>Oppression and Mismanagement petitions</li>
</ul>
<h4>Liaisoning with Government Departments</h4>
We provide liasoning services and arrange various approvals from various Government departments such as:  Director General of Foreign Trade for allotment of Importer-Exporter Code Number and other matters, Obtaining various approvals from RBI, Company Law Board, Department of Company Affairs, Ministries of Industry, Commerce and Finance
<h4>Limited Liability Partnership Firms</h4>
<ul>
	<li>LLP incorporation</li>
	<li>LLP Conversion</li>
	<li>Change in LLP agreements</li>
</ul>
<h4>IPR SERVICES</h4>
<ul>
	<li>Trade Mark Registration</li>
	<li>Copy Right Registration</li>
</ul>
<h4>DVAT REGISTRATION</h4>
<h4>FSSAI</h4>
<h4>FCRA REGISTRATION</h4>
<h4>SERVICE TAX</h4>
