
	<div class="container">
		<div class="jumbotron" style="text-align: center">
			<h1 >Hello World!</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
			<a class="btn btn-default">Watch Now!</a>
			<a class="btn btn-info">Tweet it!</a>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<% @posts.parsed_response['posts'].each do |post| 
				post_url = URI.parse(post['URL'])  
				blog_url = @site_domain + '/blog' + post_url.path %>
				<div class="col-md-3">
					<div class="row">
						<h3> <%= link_to post['title'].html_safe, blog_url  %>
						</h3>
					</div>
					<div class="row">
						<p><%= post['excerpt'].html_safe %> </p>
					</div>
					<div class="row">
						<%= link_to 'Read More', blog_url, :class => "btn btn-info" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>