
	<div class="container">
		<div class="jumbotron" style="text-align: center">
			<h1 >Hello World!</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
			<a class="btn btn-default">Watch Now!</a>
			<a class="btn btn-info">Tweet it!</a>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3><a href="">Sub Section I</a></h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it...</p>
				<a href="#" class="btn btn-default">Read More</a>
			</div>
			<div class="col-md-3">
				<h3><a href="">Sub Section II</a></h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it...</p>
				<a href="#" class="btn btn-default">Read More</a>
			</div>
			<div class="col-md-3">
				<h3><a href="">Sub Section III</a></h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it...</p>
				<a href="#" class="btn btn-default">Read More</a>
			</div>
			<div class="col-md-3">
				<h3><a href="">Sub Section IV</a></h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it...</p>
				<a href="#" class="btn btn-default">Read More</a>
			</div>
			
		</div>
		
	</div>
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class = "container">
			<p class="navbar-text"> Powered by Garima</p>
			<a class = "navbar-btn btn-danger btn pull-right" href="http://google.com">Click for additional stuff </a>
		</div>
	</div>
